@{
    ViewData["Title"] = "продукты на складе";
}
<div class="text-center text-info">
    <h1>Продукты на складе @ViewBag.Sklad.Name</h1>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<p>
    <a class="btn btn-primary d-block mx-auto" asp-route-id="@ViewBag.Id" asp-action="AddProduct">Пополнить продукцию</a>
</p>

<table class="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td>Количевство</td>
    </tr>
    @foreach (var doctor in ViewBag.Product)
    {
        <tr>

            @if (ViewBag.Count[doctor.Id] > 0)

            {
                <td>
                    @doctor.Name
                </td>
                <td>
                    @doctor.Cena
                </td>
                <td>
                    @ViewBag.Count[doctor.Id]
                </td>
            }
        </tr>
    }
</table>